/* styles.css */
.my-card {
    stroke: none !important;
    stroke-width: 0 !important;
}

.chrono-card-title {
    font-weight: normal !important;
}

.chrono-card-subtitle {
    font-weight: normal !important;
}